body {
  margin: 0 auto;
  font-family: "Pretendard";
  justify-content: center;
}

* {
  word-break: keep-all;
}
a {
  text-decoration: none;
  color: black;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

/* 네비게이션  */
.navbackground {
  background: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(235, 235, 235, 1);
  backdrop-filter: blur(8px);
  z-index: 10000;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  z-index: 1000;
  max-width: 1280px;
  width: 100%;
}

.navbar_logo {
  padding: 18px 40px;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0px;
  align-items: center;
  padding: 0px 16px 0px 40px;
  margin: 0;
  max-width: 1280px;
}

.navbar_menu li {
  padding: 20px 24px;
  white-space: nowrap;
}

.navbar_menu li:hover {
  transform: scale(1.2);
  filter: blur(0);
  text-decoration: none;
}

.navbar_toggleButton {
  position: absolute;
  right: 14px;
  top: 14px;
  display: none;
}
.nav_mobile {
  display: none;
}

@media screen and (max-width: 480px) {
  .navbackground {
    display: none;
  }
  .nav_mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(235, 235, 235, 1);
    backdrop-filter: blur(10px);
    z-index: 3;
  }
  .nav_mobile img {
    margin: 14px 24px;
  }

  /*토글 만들기 start */
  input[id="nav_toggle"] {
    display: none;
  }
  input[id="nav_toggle"] + label {
    display: block;
    width: 24px;
    height: 24px;
    margin: auto 24px;
    position: relative;
    cursor: pointer;
  }
  input[id="nav_toggle"] + label span {
    display: block;
    position: absolute;
    width: 16px;
    height: 2px;
    border-radius: 0px;
    background: rgba(0, 0, 0, 1);
    transition: all 0.35s;
    z-index: 5;
  }
  input[id="nav_toggle"] + label span:nth-child(1) {
    top: 5px;
    left: 4px;
  }
  input[id="nav_toggle"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
  }
  input[id="nav_toggle"] + label span:nth-child(3) {
    bottom: 5px;
    left: 4px;
  }

  /*토글 만들기 end */

  /*토글 움직임*/
  input[id="nav_toggle"]:checked + label span:nth-child(1) {
    top: 50%;
    left: 4px;
    transform: translateY(-50%) rotate(45deg);
    background: black;
  }
  input[id="nav_toggle"]:checked + label span:nth-child(2) {
    opacity: 0;
  }
  input[id="nav_toggle"]:checked + label span:nth-child(3) {
    bottom: 50%;
    left: 4px;
    transform: translateY(50%) rotate(-45deg);
    background: black;
  }

  /*토글 움직임*/

  .nav_sidebar {
    width: 300px;
    height: 100vh;
    background: white;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 3;
    transition: all 0.35s;
  }
  input[id="nav_toggle"]:checked + label + div {
    right: 0;
  }
  .nav_sidebartext {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 52px;
  }
  .nav_sidebartext a {
    padding: 17px 24px;
    border-bottom: 1px solid #f1f1f1;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #31363e;
  }

  /*배경 블러*/

  #background_nav {
    display: none;
  }

  input[id="nav_toggle"]:checked ~ #background_nav {
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
}

/*배너*/

.banner_background {
  max-width: 1280px;
  display: flex;
  margin: 0 auto;

  overflow: hidden;
  white-space: nowrap;
}
.banner_background_inner {
  width: 100%;
  display: flex;
  padding: 121px 40px 57px;
  justify-content: space-between;
  gap: 70px;
}
.banner_left_text {
  padding: 10px 0px 0px;
}
.banner_left_text h1 {
  color: #43a0f5;
  font-size: 20px;
  font-family: Pretendard;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.2px;
  padding-top: 56px;
}
.banner_left_text h2 {
  color: #43a0f5;
  font-size: 48px;
  font-family: Pretendard;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;

  padding: 0px 0px 16px 0px;
}

.banner_left_text p {
  color: var(--gray-gray-900, #242931);
  font-size: 20px;
  font-family: Pretendard;
  line-height: 28px;
  letter-spacing: -0.2px;
}
.br_displayonweb {
  display: none;
}
.banner_left_button {
  display: flex;
  padding: 35px 0px 0px;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}
.banner_left_button h3 {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  padding: 12px 12px 12px 16px;
  border-radius: 4px;
  background: #43a0f5;

  color: #fff;
  align-items: center;
  vertical-align: center;
  font-size: 16px;
  font-family: Pretendard;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.16px;
}
.banner_left_button h4 {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  padding: 12px 12px 12px 16px;
  border-radius: 4px;
  border: 1px solid #43a0f5;

  color: #43a0f5;
  align-items: center;
  vertical-align: center;
  font-size: 16px;
  font-family: Pretendard;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.16px;
}
.banner_left_button img {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 480px) {
  .banner_background {
    overflow: auto;
    white-space: normal;
  }
  .banner_background_inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    padding: 118px 24px 72px;
  }
  .banner_background_inner h1 {
    padding: 0px;
    color: #43a0f5;
    font-size: 20px;
    font-family: Pretendard;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.2px;
  }
  .banner_background_inner h2 {
    padding: 0px;
    padding-bottom: 8px;
    color: #43a0f5;
    font-size: 28px;
    font-family: Pretendard;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.28px;
  }
  .banner_background_inner p {
    padding: 0px;
    color: #242931;
    text-align: center;
    font-size: 20px;
    font-family: Pretendard;
    line-height: 28px;
    letter-spacing: -0.2px;
  }
  .br_displayonweb {
    display: block;
  }

  .banner_left_button {
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
  }

  .banner_left_button h3 {
    padding: 12px 12px 12px 16px;
  }
  .banner_left_button h4 {
    padding: 14px 45px;
  }
  .banner_left_button img {
    width: 24px;
    height: 24px;
  }

  /* Carousel Mobile 시작 */

  .swiper-container {
    display: flex;
    width: 100%;
    height: 520px;
    background-color: #fff;
    overflow: hidden;
  }
  .swiper-wrapper {
    display: flex;
  }
  .swiper-slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .swiper-slide .swiper-slide-thumbnail {
    width: 100%;
    max-height: 200px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
  }

  .swiper-slide .classInfoBox {
    display: flex;
    max-height: 222px;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: 100%;
  }

  .swiper-slide a {
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
  }

  .swiper-slide h4 {
    padding: 0 24px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
  }
  .swiper-slide h6 {
    color: #6c7487;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  /* Carousel Mobile 끝 */
}

/* Carousel PC 시작 */

.swiper-container {
  display: flex;
  background-color: #fff;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  width: 400px;
  max-width: 400px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #eaeef5;
  overflow: hidden;
}

.swiper-slide-thumbnail {
  width: 100%;
  max-width: 400px;
  height: 266px;
  min-height: 175px;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.swiper-slide h6 {
  color: #6c7487;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.16px;
  margin-top: 4px;
  margin-bottom: 16px;
  padding: 0 24px;
}

.swiper-slide h4 {
  padding: 0 24px;
  margin-bottom: 8px;
  font-size: 18px;
}

.swiper-slide a {
  padding: 0 0 0 24px;
}

.swiper-slide-next {
  /* if want set blur next slide, write here */
}

.swiper-slide .classInfoBox {
  width: 100%;
  max-width: 400px;
  max-height: 196px;
  min-height: 196px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px 0;
  white-space: normal;
}

.swiper-slide h6 {
  color: #6c7487;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

/* Carousel PC 끝 */

/*광고 이미지*/

.ads_background {
  width: 100%;
  display: flex;
  background-color: rgba(67, 159, 245, 1);
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}

.ads_background_inner {
  overflow: hidden;
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0;
  width: 100%;
  align-items: center;
}

.ads_background_inner h1 {
  padding-left: 40px;
  color: #fff;
  font-size: 36px;
  font-family: Pretendard;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.36px;
}
.ads_pc_img {
  width: 563px;
  height: 282px;
  padding-right: 40px;
}
.ads_mobile_img {
  display: none;
}

@media screen and (max-width: 480px) {
  .ads_background_inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .ads_background_inner h1 {
    padding: 52px 0px 8px;
    color: var(--gray-white, #fff);
    text-align: center;
    font-size: 24px;
    font-family: Pretendard;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
  }
  .ads_pc_img {
    display: none;
  }
  .ads_mobile_img {
    display: block;
    width: 282px;
    height: 291px;
  }
}

/* 투두몰과 성장하고 있습니다  */

.growth_background {
  background: #ffffff;
  color: #242931;
  display: flex;
  justify-content: center;
  text-align: start;
  word-break: break-all;
}
.growth_backgroundinner {
  max-width: 1280px;
  width: 100%;
}
.growth_background p,
h1 {
  margin: 0px;
}
.growth_text {
  padding-left: 42px;
}
.growth_text h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.01em;
  margin-top: 200px;
  margin-bottom: 4px;
}
.growth_text h2 {
  margin: 0px;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.01em;
}

.growth_numbers {
  display: flex;
  word-break: keep-all;
  overflow: hidden;
}
.growth_numbers h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -0.01em;
}
.growth_numbers p {
  padding-bottom: 3px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.01em;
}
.growth_numbers h3 {
  padding-top: 4px;
  margin: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
}
.growth_numbersbox1 {
  padding: 62px 0px 166px 42px;
}

.growth_numbersbox1top {
  display: flex;
  align-items: end;
}
.growth_numbersbox2 {
  padding: 62px 155px 166px 115px;
}
.growth_numbersbox2top {
  display: flex;
  align-items: end;
}
.growth_numbersbox3 {
  padding: 62px 149px 166px 0px;
}
.growth_numbersbox3top {
  display: flex;
  align-items: end;
}
.growth_numbersbox4 {
  padding: 62px 0px 166px 0px;
}
.growth_numbersbox4top {
  display: flex;
  align-items: end;
}

@media screen and (max-width: 480px) {
  .growth_background {
    justify-content: flex-start;
  }
  .growth_numbers {
    flex-direction: column;
  }
  .growth_text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  .growth_text h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
  }
  .growth_numbers h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
  }
  .growth_numbers p {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }
  .growth_numbers h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .growth_text {
    padding-left: 24px;
  }
  .growth_text h4 {
    margin-top: 160px;
    margin-bottom: 0px;
    font-size: 14px;
    margin-bottom: 0;
    line-height: 22px;
  }
  .growth_numbersbox1 {
    padding: 78px 0px 68px 24px;
  }
  .growth_numbersbox2 {
    padding: 0px 0px 68px 24px;
  }
  .growth_numbersbox3 {
    padding: 0px 0px 68px 24px;
  }
  .growth_numbersbox4 {
    padding: 0px 0px 160px 24px;
  }
}

/* 실제 투두몰을 경험한 유저들의 목소리  */
.review_background {
  background: #fafafd;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.review_background_inner {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  align-items: center;
}
.review_background_inner h1 {
  padding: 200px 40px 40px;
  text-align: center;

  color: var(--gray-gray-900, #242931);
  font-size: 32px;
  font-family: Pretendard;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.32px;
}

.review_card_container {
  display: flex;
  flex-direction: column;
  padding: 0 40px 146px;
  justify-content: space-between;
  gap: 20px;
}

.review_card_top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.review_card_bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.review_card {
  background: #fff;
}

.review_card h2 {
  color: #6c7487;
  font-size: 20px;
  font-family: Pretendard;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -0.2px;
  padding: 24px 24px 8px;
}
.review_card h3 {
  color: #6c7487;
  font-size: 16px;
  font-family: Pretendard;
  line-height: 160%;
  letter-spacing: -0.16px;
  padding: 0px 24px 24px;
  font-weight: 400;
}

.review_card_blur {
  width: 100%;
  height: 135px;
  position: absolute;
  bottom: 0px;
  background: black;
  background: linear-gradient(180deg, rgba(250, 250, 253, 0) 0%, #fafafd 100%);
}

@media screen and (max-width: 480px) {
  .review_card_top {
    flex-direction: column;
    gap: 8px;
  }
  .review_card_bottom {
    flex-direction: column;
    gap: 8px;
  }
  .review_card_container {
    flex-direction: column;
    padding: 0 24px 120px;
    gap: 8px;
  }
  .review_background_inner h1 {
    padding: 120px 24px 52px;
    text-align: center;

    color: var(--gray-gray-900, #242931);
    font-size: 20px;
    font-family: Pretendard;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.2px;
  }
}

/* 투두몰의 콘텐츠는 다릅니다 */

.different_background {
  display: flex;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}

.different_background_inner {
  max-width: 1280px;
  width: 100%;
  display: flex;
  padding: 200px 0px;
  justify-content: space-between;
}

.different_textbox {
  padding-left: 40px;
}
.different_textbox h1 {
  color: var(--gray-gray-900, #242931);
  font-size: 32px;
  font-family: Pretendard;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.32px;
}

.different_textbox h2 {
  padding: 80px 0px 30px;
  color: var(--gray-gray-900, #242931);
  font-size: 40px;
  font-family: Pretendard;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.4px;
}

.different_textbox h3 {
  color: var(--gray-gray-900, #242931);
  font-size: 18px;
  font-family: Pretendard;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.18px;
}

.different_imagebox {
  padding-right: 40px;
  display: flex;
  align-items: flex-end;
}

.different_imagebox img {
  display: flex;
  max-width: 540px;
  height: 260px;
}

@media screen and (max-width: 480px) {
  .different_background {
    overflow: auto;
    white-space: normal;
  }
  .different_background_inner {
    display: flex;
    padding: 120px 24px 122px;
    flex-direction: column;
  }
  .different_imagebox {
    padding-right: 0px;
    display: flex;
  }
  .different_textbox {
    padding-left: 0px;
  }

  .different_textbox h1 {
    color: var(--gray-gray-900, #242931);
    font-size: 20px;
    font-family: Pretendard;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.2px;
  }

  .different_textbox h2 {
    color: var(--gray-gray-900, #242931);
    font-size: 32px;
    font-family: Pretendard;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.32px;
    padding: 52px 0px 16px;
  }

  .different_textbox h3 {
    color: var(--gray-gray-900, #242931);
    font-size: 18px;
    font-family: Pretendard;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.18px;
  }

  .different_imagebox img {
    padding-top: 52px;
    align-items: center;
    width: 304px;
    height: 144px;
  }
}

/* 기획, 디자인, 마케팅, 협업, 노코드까지*/

.everything_background {
  display: flex;
  width: 100%;
  background: rgba(30, 32, 36, 1);
  color: #fff;
  justify-content: center;
  overflow: hidden;
}

.everything_background_inner {
  max-width: 1280px;
  width: 100%;
}
.everything_background_inner_contents {
  padding: 160px 40px 200px;
}
.everything_background_inner_contents h1 {
  color: #fff;
  font-size: 18px;
  font-family: Pretendard;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.18px;
}

.everything_background_inner_contents h2 {
  color: #fff;
  font-size: 32px;
  font-family: Pretendard;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.32px;
  padding-bottom: 40px;
}

.everything_cardbox {
  display: flex;
  justify-content: space-between;
  gap: 21px;
}
.everything_card {
  display: flex;
  flex-direction: column;
}

.everything_cardtext {
  border-radius: 0px 0px 12px 12px;
  border: 1px solid var(--gray-gray-100, #eaeef5);
  background: #fff;
}

.everything_cardtext h3 {
  color: #242931;
  font-size: 20px;
  font-family: Pretendard;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.2px;
  padding: 16px 20px 4px;
}

.everything_cardtext h4 {
  color: #242931;
  font-size: 14px;
  font-family: Pretendard;
  line-height: 22px;
  letter-spacing: 0.14px;
  padding: 0px 20px 42px;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .everything_background_inner_contents {
    padding: 120px 24px;
  }
  .everything_background_inner_contents h1 {
    color: var(--gray-white, #fff);
    font-size: 14px;
    font-family: Pretendard;
    line-height: 22px;
    letter-spacing: -0.14px;
  }

  .everything_background_inner_contents h2 {
    color: var(--gray-white, #fff);
    font-size: 20px;
    font-family: Pretendard;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.2px;
  }
  .everything_cardbox {
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
  }

  .everything_cardtext h3 {
    color: #242931;
    font-size: 20px;
    font-family: Pretendard;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.2px;
    padding: 16px 24px 0px;
  }

  .everything_cardtext h4 {
    color: #242931;
    font-size: 14px;
    font-family: Pretendard;
    line-height: 22px;
    letter-spacing: 0.14px;
    padding: 0px 24px 16px;
    font-weight: 400;
  }
}

/* 투두몰에서 서비스를 직접 경험시키세요*/

.experience_background {
  display: flex;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}

.experience_inner {
  display: flex;
  max-width: 1280px;
  width: 100%;
  padding: 200px 0;
  justify-content: space-between;
}
.experience_innertext {
  padding-left: 40px;
}
.experience_inner h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.01em;
  color: #242931;
}

.experience_inner h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.01em;
  color: #242931;
  padding: 80px 0 30px 0;
}
.experience_inner h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #242931;
}
.experience_inner h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -0.01em;
  color: #242931;
  padding: 16px 0px 4px 0px;
}
.experience_inner h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #242931;
}
.experience_innercard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  white-space: normal;
  word-break: keep-all;
  padding: 116px 44px 0 0;
}
.experience_innercardtop {
  display: flex;
  gap: 20px;
}
.experience_innercardbottom {
  display: flex;
  gap: 20px;
}
.experience_innercard_background {
  background: #fafafd;
  width: 320px;
  height: 240px;
}

.experience_innercard_text {
  padding: 40px 24px;
}

.experience_innercard_text img {
  width: 48px;
  height: 48px;
}

@media screen and (max-width: 480px) {
  .experience_background {
    overflow: hidden;
    white-space: normal;
  }

  .experience_inner {
    flex-direction: column;
    padding: 160px 0;
  }
  .experience_innertext {
    padding: 0px 24px;
  }
  .experience_inner h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
  }

  .experience_inner h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    padding: 52px 0 16px 0;
  }
  .experience_inner h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
  }
  .experience_inner h5 {
    padding-bottom: 24px;
  }
  .experience_innercard {
    display: flex;
    flex-direction: column;
    gap: 8px;
    white-space: normal;
    word-break: keep-all;
    padding: 52px 24px 0;
  }
  .experience_innercard_background {
    width: 100%;
    height: auto;
  }
  .experience_innercardtop {
    flex-direction: column;
    gap: 8px;
  }
  .experience_innercardbottom {
    flex-direction: column;
    gap: 8px;
  }
}

/* 짧게 쪼개진 투두리스트로 학습해요*/

.short_background {
  display: flex;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  background: #19303e;
  color: rgba(255, 255, 255, 1);
}

.short_inner {
  width: 1280px;
}

.short_innercontents {
  padding: 200px 40px;
}
.short_text {
  padding-bottom: 80px;
}
.short_cardbox {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.short_cardboxtext {
  padding-top: 166px;
}
.short_cardboxtext_mid {
  padding-top: 166px;
}

.short_cardboxinner {
  display: flex;
  justify-content: space-between;
}

.short_cardboxinner_mid {
  display: flex;
  gap: 245px;
  justify-content: left;
  flex-direction: row-reverse;
}

.short_inner h1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */

  letter-spacing: -0.01em;

  /* gray/gray_900 */
}

.short_inner h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 48px;
  /* identical to box height, or 171% */

  letter-spacing: -0.01em;

  padding-top: 4px;
}

.short_inner h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 157% */

  letter-spacing: -0.01em;
}

.short_inner h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  /* or 150% */

  /* gray/gray_900 */

  padding-bottom: 12px;
}

.short_inner h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 156% */

  /* gray/gray_900 */
}

.short_inner h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  letter-spacing: -0.01em;

  /* gray/gray_700 */
}

.shortimg_notion {
  width: 480px;
  height: 457.99px;
}
.shortimg_figma {
  width: 480px;
  height: 488px;
}
.shortimg_figma_login {
  width: 480px;
  height: 480px;
}

@media screen and (max-width: 480px) {
  .short_background {
    overflow: auto;
    white-space: normal;
  }

  .short_innercontents {
    padding: 120px 23px;
  }
  .short_cardbox {
    gap: 52px;
  }

  .short_cardboxinner {
    flex-direction: column;
  }
  .short_cardboxinner_mid {
    flex-direction: column;
    gap: 0px;
  }

  .short_cardboxtext_mid {
    padding-top: 0px;
  }
  .short_cardboxtext {
    padding-top: 0px;
  }

  .short_text {
    padding-bottom: 52px;
  }

  .short_inner h1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }

  .short_inner h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    padding: 0;
  }

  .short_inner h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 29=8px;
  }

  .short_inner h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }

  .short_inner h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 0 24px 0;
    word-break: keep-all;
  }
  .short_inner h5 br {
    display: none;
  }

  .short_inner h6 {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding-top: 6px;
  }

  .shortimg_notion {
    max-width: 342px;
    width: 100%;
    height: auto;
  }
  .shortimg_figma {
    max-width: 342px;
    width: 100%;
    height: auto;
  }
  .shortimg_figma_login {
    max-width: 342px;
    width: 100%;
    height: auto;
  }
}

/* 투두몰과 함께 빠르고 쉽게 시작하세요*/

.easystart_background {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.easystart_background_inner {
  width: 1280px;
}
.easylearn_background_innercontents {
  padding: 200px 40px;
  justify-content: center;
  text-align: center;
}

.easylearn_background_innercontents h1 {
  color: var(--gray-gray-900, #242931);
  font-size: 32px;
  font-family: Pretendard;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.32px;
  padding-bottom: 8px;
}
.easylearn_background_innercontents h2 {
  color: #242931;
  font-size: 20px;
  font-family: Pretendard;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.2px;
  padding-bottom: 80px;
}

.easylearn_background_innercontents img {
  width: 1200px;
}
.easystart_mobile_img {
  display: none;
}

@media screen and (max-width: 480px) {
  .easylearn_background_innercontents {
    padding: 120px 24px;
  }
  .easylearn_background_innercontents h1 {
    color: #242931;
    font-size: 20px;
    font-family: Pretendard;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.2px;
  }
  .easylearn_background_innercontents h2 {
    color: #242931;
    font-size: 14px;
    font-family: Pretendard;
    line-height: 22px;
    letter-spacing: -0.14px;
    font-weight: 300;
  }
  .easystart_pc_img {
    display: none;
  }
  .easystart_mobile_img {
    display: block;
    max-width: 342px;
  }
}

/* Office Tool을 손쉽게 배워봐요*/

.easylearn_background {
  display: flex;
  justify-content: center;
  background: #242931;
  color: #ffffff;
  overflow: hidden;
}
.easylearn_inner {
  width: 1280px;
}
.easylearn_innercontents {
  padding: 160px 40px;
  justify-content: center;
  text-align: center;
}

.easylearn_innercontents h1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.easylearn_innercontents h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 48px;
  padding: 4px 0 52px 0;
}

.easylearn_inner img {
  width: 1200px;
}

.easylearn_left_button {
  justify-content: center;
  display: flex;
  padding: 35px 0px 0px;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.easylearn_left_button h3 {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  padding: 12px 12px 12px 16px;
  border-radius: 4px;
  background: #43a0f5;

  color: #fff;
  align-items: center;
  vertical-align: center;
  font-size: 16px;
  font-family: Pretendard;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.16px;
}
.easylearn_left_button h4 {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  padding: 12px 12px 12px 16px;
  border-radius: 4px;
  border: 1px solid #43a0f5;

  color: #43a0f5;
  align-items: center;
  vertical-align: center;
  font-size: 16px;
  font-family: Pretendard;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.16px;
}
.easylearn_left_button img {
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 480px) {
  .easylearn_innercontents {
    padding: 120px 24px;
  }
  .easylearn_innercontents h1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  .easylearn_innercontents h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    padding: 0px 0 40px 0;
  }

  .easylearn_left_button {
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
  }

  .easylearn_button h3 {
    padding: 12px 12px 12px 16px;
  }
  .easylearn_left_button h4 {
    padding: 14px 45px;
  }
  .easylearn_left_button img {
    width: 24px;
    height: 24px;
  }
}

/* footer */

.footer_outside {
  display: flex;
  justify-content: center;
  word-break: keep-all;
}

.footer_inner {
  max-width: 1280px;
  width: 100%;
  padding: 52px 0px 52px 80px;
}
.footer_inner p {
  margin: 28px 0px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 150% */

  letter-spacing: -0.01em;

  /* gray/gray_700 */

  color: #4f5562;
}
.footer_inner h1 {
  display: none;
}
.footer_inner h2 {
  display: none;
}
.footer_inner h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  letter-spacing: -0.01em;

  /* gray/gray_700 */

  color: #4f5562;
}

@media screen and (max-width: 480px) {
  .footer_inner br {
    display: block;
  }
  .footer_inner {
    display: flex;
    flex-direction: column;
    padding: 48px 59px 48px 24px;
  }
  .footer_inner img {
    width: 105px;
    height: 20px;
    padding-bottom: 24px;
  }
  .footer_inner p {
    display: none;
  }
  .footer_inner h1 {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 150% */

    letter-spacing: -0.01em;

    color: #4f5562;
    padding-bottom: 12px;
  }
  .footer_inner h2 {
    display: inline-block;
    /* pretendard_50 */
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    /* identical to box height, or 150% */

    letter-spacing: -0.01em;

    /* gray/gray_700 */

    color: #4f5562;
    padding-bottom: 16px;
  }
}
